<div class="container m-auto mt-5" style="width: fit-content; margin: auto; margin-top: 6rem;">
    <div class="card">
        <div class="p-grid p-dir-column p-md-flex p-jc-center">
            <div class="p-col w-full p-2 p-md-3 p-sm-2 p-d-flex p-flex-column p-ai-center p-jc-center gap-3 pt-5">
                <form [formGroup]="resetPasswordSendForm"  class="p-fluid">
                    <div class="p-field p-d-flex p-flex-wrap p-jc-center p-ai-center gap-2">
                        <label class="w-6rem">Mobile:</label>
                        <div class="p-inputgroup ">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-mobile"></i>
                            </span>
                            <input pInputText type="text" class="p-inputtext" formControlName="mobileNumber" />
                            <button  pButton type="button"  label="Send OTP"
                            class="p-button-success" (click)="sendVerificationOtp()" ></button>
                        </div>
                        <small
                            *ngIf="resetPasswordSendForm.get('mobileNumber').hasError('required') && (resetPasswordSendForm.get('mobileNumber').touched || submitted)"
                            class="p-error">Mobile Number is required</small>
                        <small
                            *ngIf="resetPasswordSendForm.get('mobileNumber').hasError('pattern') && (resetPasswordSendForm.get('mobileNumber').touched || submitted)"
                            class="p-error">Invalid mobile number format</small>

                            <div *ngIf="sendOtp">

                                
                                <label class="w-6rem">OTP:</label>
                                <div class="p-inputgroup ">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-mobile"></i>
                                    </span>
                                    <input pInputText type="text" class="p-inputtext" formControlName="otp" />
                                    <button  pButton type="button"  label="verify OTP"
                            class="p-button-success" (click)="verifyOtp()" > </button>
                                </div>
                                <small
                                *ngIf="resetPasswordSendForm.get('otp').hasError('required') && (resetPasswordSendForm.get('otp').touched || submitted)"
                                class="p-error">OTP is required</small>
                            </div>
                        

                    </div>
                    <div class="p-col w-full p-2 p-md-3 p-sm-2 p-d-flex p-ai-center p-jc-center "
                        style="display: flex;">
                        <div style="margin-right: 1em;">
                            <div class="mt-3" style="margin-top: 1rem;">
                                <p-button routerLink="/login" label="Back" icon="pi pi-user"
                                    styleClass="p-button-success " type="button"></p-button>
                            </div>
                        </div>
                        <div class="mt-3" style="margin-top: 1rem;">
                            <p-button [disabled]="!isVerified" (click)="navigateToReset()" label="Next" icon="pi pi-user" styleClass="mx-auto" type="submit"></p-button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>